// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    line-height: 1.2;
    overflow: hidden;
}

.container-master {
    /* CSS Smooth Scroll */
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.masterhead {
    width: 100%;
    margin-right: auto; 
    margin-left: auto;
}

#home header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

#home header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#home header .container {
    position: relative;
    z-index: 2;
}

#home header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
    #home header {
        background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }

    #home header video {
        display: none;
    }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;

    /* Scroll Snap */
    scroll-snap-align: center;
}

#methods-vid {
    width: 80%;
    -ms-transform: translateX(10%);
    -moz-transform: translateX(10%);
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
}

#team-img {
    width: 100%;
}

.carousel {
    height: 65vh;
}

/* Section Images */